<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuperCrack!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7118EAB1F4E0A2100215E78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D770F7C41F0933BC001C115D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D770F7DA1F0933BC001C115D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D770F7E51F0933BC001C115D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
